html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

header, main, footer {
    border: 3px groove red;
    margin: 10px 20% 0;
}

header{
    height: 15%;
}

header div, li {
    display: inline-block;
}

.logo {
    height: 80%;
    float: left;
    margin: 1%;
}

img {
    box-sizing: border-box;
    height: 100%;
    padding: 2%;
}

header .menu {
    height: 60%;
    width: 60%;
    margin: 2% 0 0 20%;
    border: 3px groove red;
}

header ul {
    padding-left: 15%;
}

li {
    margin-left: 10%;
}

main {
    height: 58%;
}

.content {
    margin: 5% 10%;
}

h1 {
    text-align: center;
}

footer {
    height: 15%;
    text-align: center;
}

footer ul {
    padding: 0;
    margin-top: 4%;
}

footer li:first-child {
    margin-left: 0;
    padding-left: 0;
}