* {
    margin: 0;
}
body {
    width: 100%;
    font-family: Arial, sans-serif;
}

header, main, footer {
    width: 60%;
    min-width: 320px;
    margin: 0 auto;
    max-width: 700px;
}

header {
    height: 1.5rem;
    margin: 10px auto 5px;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

header span {
    color: #707070;
}

main {
    border: 1px solid #575757;
    box-sizing: border-box;
}

main .title {
    width: 80%;
    font-size: 3rem;
    margin: 20px auto;
    color: #3583b0;
    border-bottom: 1px solid #3583b0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    white-space: pre;
    transition: text-shadow .5s;
}

main .title:hover {
    text-shadow: 0 1px 8px #5089e9d6;
}

.sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    opacity: .6;
    position: absolute;
    top: -45px;
    left: -15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    transition: transform .8s;
}

.sale:hover {
    transform: rotate(360deg);
}

.card {
    /*background: #575757;*/
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.photo {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inf {
    width: 52%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.large_img {
    width: 75%;
    /*min-width: 200px;*/
    height: auto;
}

.small {
    width: 75%;
    height: 5vw;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.small img {
    height: 100%;
    width: auto;
    transition: transform .3s;
}

.small img:hover {
    transform: scale(2.5);
}

h4 {
    width: 100%;
    border-bottom: 1px solid #575757;
}

.text {
    width: 100%;
    font-size: .8rem;
    line-height: 1.5;
}

.description {
    margin: 0 auto;
    width: 80%;
}

footer p {
    font-size: .6rem;
    margin: 0;
}

@media screen and (max-width: 640px) {
    .card {
        flex-wrap: wrap;
    }
    .photo, .inf {
        width: 100%;
    }
    .small {
        height: 15vw;
    }
    }